table{
    left: 20%;
    top: 15%;
    right: 20%;
    position: absolute;
}

iframe{
    width: 560px;
    height: 315px;
}

a{
    position: absolute;
    background: rgba(0,0,0,0);
    width: 560px;
    height: 315px;
}