.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width:1200px){
    td{
        display: block;
    }
}

@media screen and (max-width:550px){
    td{
        display: block;
    }
    img{
        width: 360px;
        height: 115px;
    }
}